@page "/"
@page "/index"
@inject IMoviesRepository repository

<div>
    <h3>In Theaters</h3>
    <MoviesList Movies="InTheaters" />
</div>

<div>
    <h3>Up Coming</h3>
    <MoviesList Movies="UpComingRelease" />
</div>


@code{
    private List<Movie> InTheaters;
    private List<Movie> UpComingRelease;


    protected async override Task OnInitializedAsync()
    {
        var response = await repository.GetIndexPageDTO();
        InTheaters = response.InTheateres;
        UpComingRelease = response.UpcomingReleases;

    }


}